
*
	padding 0px
	margin 0px

.button
	min-height 200px
	display inline-block
	width 50%
	background-color blue

.heads
	background-color red

.tails
	background-color green

.bar
	background-color red