*
	padding 0px
	margin 0px

body
	font-family 'Open Sans'
	font-weight 300

.button
	min-height 50px
	max-width 50px
	display inline-block
	width 50%
	background-color blue
	border 1px solid gray

	.text
		color white
		text-align center

.heads
	background-color red

.tails
	background-color green

.graph
	margin 3.5em
	overflow visible
	display block
	.bar
		fill rgb(80, 160, 255)
	.axis
		line, path
			fill none
			stroke black
			shape-rendering crispEdges
		text
			font-family 'Open Sans'
			font-weight 300